* {
    font-size:12px;
    font-family: "Noto Sans CJK";
}

window#waybar{
    all:unset;
}
.modules-left {
    margin: 2px 0 2px 0;
    padding: 0 5px 0 5px;
    border-radius:10px;
    background-color: #000000;
}
.modules-center {
    margin: 2px 0 2px 0;
    font-size:1px;
    border-radius:10px;
    background-color: #000000;
}
.modules-right {
    margin: 2px 0 2px 0;
    padding: 0 5px 0 5px;
    border-radius:10px;
    background-color: #000000;
}

#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:#ea1515;
}
#clock{ 
    font-weight: bold;
    padding: 0px 5px;
    color: #f1f1f1;
    transition: all .3s ease;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: #707070;
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: #ffffff;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: #ffffff;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#bluetooth{ 
    font-weight: bold;
    padding: 0px 5px;
    transition: all .3s ease;
    color:#F1F1F1;

}
#network{
    font-weight: bold;
    padding: 0px 5px;
    transition: all .3s ease;
    color:#F1F1F1;

}
#pulseaudio {
    padding: 0 3px 0 8px;
    font-size: 12px;
    font-weight: bold;
    transition: none;
    color: #F1F1F1;
	
}
#battery{
    font-weight: bold;
    padding: 0px 5px;
    transition: all .3s ease;
    color:#F1F1F1;


}
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-expand:hover{
    color:rgba(255,255,255,.2);
    text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}
#cpu,#memory{
    padding: 0px 5px;
    transition: all .3s ease; 
    color:#F1F1F1;
}

#window {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-weight: bold;
    color: #ea1515;
    background: transparent;
    opacity: 1;
    margin: 4px 4px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

menu {
	border-radius: 15px;
	background: #000000;
	color: #ffffff;
}
menuitem {
	border-radius: 15px;
}

#custom-mpd.playing {
    background-color: #182c2b;
    color: #d5d5d5;
    padding-right: 5px;
    border-radius:5px;
}

#custom-mpd.paused {
    background-color: #000000;
    padding-right: 5px;
    color: #d0d0d0;
}

#custom-mpd.stopped {
    background-color: #e74c3c;
    color: #ffffff;
}

#custom-mpd.offline {
    background-color: #95a5a6;
    color: #ffffff;
}

#custom-mpd.error {
    background-color: #c0392b;
    color: #ffffff;
    padding: 0 10px;
    border-radius: 5px;
}

@keyframes pulse {
    from { opacity: 0.8; }
    to { opacity: 1; }
}